/*
|--------------------------------------------------------------------------
| Colors
|--------------------------------------------------------------------------
|
|
|
*/

:root {
    --primaryColor: #202020;
}

/*
|--------------------------------------------------------------------------
| Sizes
|--------------------------------------------------------------------------
|
|
|
*/

:root {
    --fz-1: 1rem;
    --fz-1-25: 1.25rem;
    --fz-1-5: 1.5rem;
}